@font-face {
  font-family: BeniBold;
  src: url(../Activity_5/assets/BeniBold.ttf);
}

.TheLatest {
    height: 640px;
  /* background-image: url(https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/ece1d7a8a15c7f55cb3a09a8aca0fd5d5d93c9ac-5120x1140.png?auto=format&fit=fill&q=100&w=1920); */
}
.HeaderSection {
  font-family: BeniBold;
}
.cardTopHeader,
.cardMidHeader,
.card-text {
  font-family: "Poppins", sans-serif;
}
.devtext {
  color: #ff4655;
}
.card-hover {
  transition: transform 0.3s ease;
}
.card-hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.backgroundIMG {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: 100%; /* Ensures it spans the full width of the section */
    height: 100%; /* Ensures it spans the full height of the section */
    object-fit: fill; /* Ensures the image scales to cover the area */
    z-index: -1; /* Places the image behind other content */
}
.TheLatest{
    background-color: #ece8e3;
}




