
.navbar {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* border-bottom: solid 1px;
  border-color: #2d323b; */
  background: rgba( 255, 255, 255, 0 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  position: sticky;
  top: 0;            /* Position it at the top of the page */
  z-index: 1000;
}
.navbar-brand{
  color: white;
}
.navbar-brand:hover{
  color: white;
}
 .nameProfile{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body{
  background-color: #0e1217;
  color: white;
  font-family: "Poppins", sans-serif;
}


.projectGallery{
  background-color: #1c1f26;
  border: 1px solid #545b6a;
  cursor: pointer;
  
}

.card{
  background-color: #1c1f26;
  color: white;
  border: solid 1px;
  border-color: #545b6a;
}
.cardBtn{
  font-size: 1rem;
}
.ToggleColor{
  border: none;
  color: #ffff;
}
.ToggleColor:hover{
  border: none;
  color: #f59f0f;
  
}

footer{
  border-top: 1px solid ;
  border-color: #2d323b;
  color: #ffff;
}
.socialLinks{
  cursor: pointer;
}

a {
  text-decoration: none; /* Removes underline */
  color: #fff;
}


/* Ensures icon color doesn’t inherit blue from link */
.socialLinks {
  color: #fff; /* Change to your desired color */
}

.container404 img{
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}